DATABASE_URL=
NEXT_PUBLIC_BASE_URL=/api

# NextAuth / Auth.js
AUTH_SECRET=                  # generate with: openssl rand -base64 32
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# only for local development
NODE_ENV=development
